:root {
    color-scheme: light dark;
    /* color-scheme: dark; */
    /* color-scheme: light; */

    --main--width: 600px;

    --dark--color: #000;
    --light--color: #fff;
    --accent--color: orange;

    --accent--background: color-mix(
        in hsl,
        transparent,
        var(--accent--color) 50%
    );

    /* TODO: this is wrong -- i dont want to _ever_ have to flip text color except against top-level background */
    --container--background: color-mix(
        in hsl,
        var(--light--color),
        var(--dark--color) 25%
    );
    --container--border--color: var(--dark--color);

    --panel--background: light-dark(
        color-mix(in hsl, transparent, var(--light--color) 30%),
        color-mix(in hsl, transparent, var(--light--color) 70%)
    );
    --panel--backdrop-filter: blur(4px);
}

@font-face {
    font-family: Spectral;
    src: url("/asset/font/Spectral-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Spectral;
    src: url("/asset/font/Spectral-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Spectral;
    src: url("/asset/font/Spectral-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Spectral;
    src: url("/asset/font/Spectral-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
/*
@font-face {
    font-family: Iosevka;
    src: url("/asset/font/Iosevka-Regular.ttc") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Iosevka;
    src: url("/asset/font/Iosevka-Bold.ttc") format("truetype");
    font-weight: bold;
    font-style: normal;
} */
