header {
    font-size: 1rem;

    padding: 1rem 0;

    margin: auto;
    width: calc(min(var(--main--width), 100vw));

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
    justify-content: stretch;

    @media (prefers-color-scheme: light) {
        filter: invert(0);
    }

    @media (prefers-color-scheme: dark) {
        filter: invert(1);
    }

    a {
        /* color: white; */
        color: black;
        background: none;
        box-shadow: none;

        &:hover {
            background: none;
            /* box-shadow: 0 -0.1em 0 0 white inset; */
            /* box-shadow: 0 -0.1em 0 0 black inset; */
        }
    }

    & > .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        & > img {
            width: 1.8rem;
            height: 1.8rem;

            /* filter: invert(1); */
        }
    }

    & > .name {
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: stretch;
        /* justify-content: center; */
        /* gap: 0.5em; */
        min-height: 2rem;
        font-size: 1rem;

        & > .website_name {
            flex: 1 1 40%;
            padding: 0.5rem;
            /* box-shadow: 0 0 0 0.1em red; */

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            & > a {
                /* color: white; */
                color: black;
            }
        }

        & > .separator {
            flex: 0 0 0.1rem;
            /* width: 0.1rem; */
            /* background: white; */
            background: black;
        }

        & > .resource_shortname {
            flex: 1 1 40%;
            min-width: 0;
            padding: 0.5em;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            color: black;

            & > div {
                flex: 0 1 auto;
                min-width: 0;

                word-wrap: break-word;
                line-height: 1.2rem;
            }
        }
    }

    & > .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        gap: 1rem;

        & > .item {
            width: 1rem;
            /* this is needed since there's no text in the row */
            padding-bottom: 0.2rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            /* line-height: 0; */

            color: black;

            svg {
                margin: 0;
                padding: 0;

                width: 1.2rem;
            }

            &:hover {
                box-shadow: 0 -0.1rem 0 0 black inset;
            }
        }
    }
}
