.PostNameCard {
    position: relative;

    img.nameImage {
        display: block;
        width: 100%;
    }

    &.without_nameImage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > h1 {
            text-align: center;
        }
    }

    &.with_nameImage {
        background-position: center;
        background-size: cover;

        & > h1 {
            text-align: center;
            white-space: wrap;
            width: 95%;
        }

        & > h1.layer1 {
            color: transparent;
        }

        & > h1.layer2 {
            position: absolute;
            top: 0;
            mix-blend-mode: difference;
            color: white;
        }
    }
}
