.PostNameCard {
    position: relative;

    &.without_nameImage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > h1 {
            text-align: center;
        }
    }

    &.with_nameImage {
        & > img {
            display: block;
            width: 100%;
        }

        & > h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            white-space: wrap;
            width: 80%;

            /* font-size: 4em; */
        }

        & > h1.layer1 {
            user-select: none;

            /* text-shadow: 2px 2px #005aff; */

            color: white;

            mix-blend-mode: difference;
        }

        & > h1.layer2 {
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;

            /* text-shadow: 2px 2px
                color-mix(in hsl, transparent, var(--accent--color) 50%); */
            /* color: color-mix(in hsl, transparent, black 50%); */
            color: transparent;
        }
    }
}
