a {
    display: inline;

    color: inherit;
    background: var(--accent--background);
    box-shadow: 0 -0.1em 0 0
        color-mix(in hsl, var(--body--foreground), transparent 80%) inset;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    text-decoration: none;

    &:hover {
        /* background: var(--accent--background);
        box-shadow: 0 -0.1em 0 0
            color-mix(in hsl, var(--body--foreground), transparent 0%) inset; */

        text-decoration: underline;
    }

    & > .icon {
        /* align-self: center; */
        margin-right: 0.2em;
        margin-bottom: -0.2em;

        &.lucide {
            /* align-self: center; */
            margin-right: 0.2em;
            margin-bottom: 0;
        }
    }

    & > .name {
        align-self: baseline;
    }

    &.no_background {
        background: none;
        box-shadow: none;

        &:hover {
            /* background: none;
            box-shadow: 0 -0.1em 0 0
                color-mix(in hsl, var(--body--foreground), transparent 0%) inset; */
        }
    }
}

sup {
    & > a {
        padding: 0 0.2em;
    }
}

p {
    margin: 0;
    padding: 0 0.5rem;
}

p:has(> img) {
    padding: 0;
}

hr {
    width: 100%;
    height: 0.2rem;
    border: none;
    background-color: var(--body--foreground);
}

img {
    width: 100%;
}

pre {
    padding: 0.5rem;
    border-left: 0.5rem solid var(--container--border--color);
    background: var(--container--background);

    font-size: 1em;

    code {
        font-size: 0.8em;
    }

    overflow: auto;
    scrollbar-width: thin;
}

code {
    font-size: 0.9em;
}

blockquote {
    /* margin: 0.5rem; */
    margin: 0;
    padding: 0.5rem;
    border-left: 0.5rem solid var(--container--border--color);
}

ul,
ol {
    /* margin: 0 0.5em; */
    margin: 0;
    padding: 0 2rem;
}

table {
    border-collapse: collapse;

    thead {
    }

    tbody {
    }

    th {
        padding: 0.5rem;
        background: var(--container--background);
    }

    td {
        padding: 0.5rem;
        background: var(--container--background);
    }
}
.icon {
    width: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    /* IDEA: cool styling around headings
    isolation: isolate;
    */

    /* this was for sticky headings */
    /* top: 0; */
    /* z-index: 1; */

    margin: 0;
    padding: 0.5rem;
    /* padding: 0 0.5rem; */

    line-height: 1.5em;
    /* line-height: 1em; */

    /* background: var(--accent--background); */

    & > a {
        background: none;
        box-shadow: none;
    }

    /* & > a:hover,
    &:target > a {
        background: none;
        box-shadow: 0 -0.1em 0 0
            color-mix(in hsl, var(--body--foreground), transparent 0%) inset;
    } */
}

/* IDEA: cool styling around headings
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10rem;

    background: color-mix(in hsl, transparent, var(--dark--color) 50%);
    z-index: -1;

    filter: url(#warp);
}
*/

.containerDirective_thumbnail {
    padding: 1em;
    background: color-mix(in hsl, var(--secondary--color), transparent 30%);
}
