main {
    .content {
        /* padding: 0.5rem 0; */

        /* border-radius: 1rem; */
        /* border: 5px solid rgba(255, 255, 255, 0.1); */
        /* box-shadow:
            inset 0px 1px 3px rgba(255, 255, 255, 0.3),
            inset 0px -1px 2px rgba(0, 0, 0, 0.1); */

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        backdrop-filter: var(--panel--backdrop-filter);
        background: var(--panel--background);
    }

    /* TODO: sticker-header */
    /* h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: sticky;
        z-index: 0;
    }

    .current-sticky-header {
        z-index: 1;
        background-color: white;
    } */
}
